{{> header}}
<div class="log"></div>
<div class="speed"></div>
<div id="logHeading"></div>
<div class="website-index-container container">
    <input type="file" id="file" name="upload" multiple="multiple" />
    <form>
        <input type="text" id="download" name="torrentId">
        <input type="submit" id="btn" value="download">
    </form>
</div>
<script src="/static/client.js"></script>
{{> footer}}
